/* ===================================================================== FORMS GENERAL */
.form-wrapper form {
  display: flex;
  flex-direction: column;
  gap: 52px;
}

.form-wrapper .field-wrapper {
  position: relative;
}

.form-wrapper .field-wrapper input,
.form-wrapper .field-wrapper textarea {
  margin: 0;
  max-width: 100vw;
}

.form-wrapper .field-wrapper textarea {
  border: none;
  padding: 16px 25px;
  border-radius: 15px;
  background-color: var(--color-light-purple);
}

/* ===================================================================== CHECKBOX */
.form-wrapper .form-checkbox-wrapper {
  display: flex;
  gap: 30px;
}

.form-wrapper .form-checkbox-wrapper input {
  position: relative;
  width: 40px;
  min-width: 40px;
  height: 40px;
  min-height: 40px;
  visibility: hidden;
}

.form-wrapper .form-checkbox-wrapper input::before,
.form-wrapper .form-checkbox-wrapper input::after {
  box-sizing: border-box;
  content: '';
  display: inline-block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid white;
}

.form-wrapper .form-checkbox-wrapper input::before {
  visibility: visible;
}

.form-wrapper .form-checkbox-wrapper input::after {
  transform: scale(60%, 60%);
  background-color: white;
}

.form-wrapper .form-checkbox-wrapper input:checked::after {
  visibility: visible;
}

/* ===================================================================== TEXT AREAS */
.form-wrapper .form-text-area-wrapper {
  display: flex;
  flex-direction: column;
}

.form-wrapper .form-text-area-wrapper label {
  margin-bottom: 5px;
}

.form-wrapper .form-text-area-wrapper textarea {
  height: 256px;
  background-color: #382F6F;
}

.form-wrapper .form-text-area-wrapper textarea:focus,
.form-wrapper .form-text-area-wrapper textarea:not(:placeholder-shown){
  outline: none;
}

/* ===================================================================== TEXT FIELDS */
.form-wrapper .form-text-field-wrapper input {
  border: 1px solid rgb(255 255 255 / 0%);
  border-radius: 0;
  border-bottom: 1px solid var(--text-color);
  background-color: rgb(28 10 77 / 75%);
}

.form-wrapper .form-text-field-wrapper input:focus {
  outline: none;
  border: 1px solid white;
}

.form-wrapper .form-text-field-wrapper label {
  position: absolute;
  top: 13px;
  transition: all 0.075s ease-out;
  background-color: var(--background-color);
  pointer-events: none;
}

.form-wrapper .form-text-field-wrapper input:focus ~ label,
.form-wrapper .form-text-field-wrapper input:not(:placeholder-shown) ~ label {
  transform-origin: left;
  padding: 5px;
  transform: translate(-5px, calc(-50% - 13px)) scale(0.8, 0.8);
}

/* ===================================================================== FORM SUBMIT BUTTON */
.form-wrapper .form-submit-wrapper {
  display: flex;
  justify-content: right;
}
