main .form {
  box-shadow: 0 1px 6px rgb(34 34 34 / 10%);
}

main .form input,
main .form textarea,
main .form select {
  font-family: var(--body-font-family);
  font-size: 1rem;
  border: 1px solid rgb(193 193 195);
  padding: 11px;
  border-radius: 0;
  width: 100%;
  max-width: 50rem;
  box-sizing: border-box;
  margin-top: 4px;
  background: var(--input-background-color);
}

main .form textarea {
  min-height: 100px;
}

main .form input:hover,
main .form select:hover {
  border-color: rgb(90 92 96);
}

main .form label {
  width: 100%;
  display: block;
  box-sizing: border-box;
}

main .form label.required::after {
  content: "*";
  padding-left: 5px;
}

main .form .field-wrapper {
  margin-bottom: 20px;
}

main .form .form-checkbox-wrapper {
  display: flex;
  align-items: flex-start;
}

main .form .form-checkbox-wrapper input{
  width:auto;
  margin: 4px 10px 0 0;
}

main .form .form-checkbox-wrapper label{
  width:auto;
  margin: 0;
}

main .form .form-checkbox-wrapper label:invalid{
  color: red;
}

main .form .form-submit-wrapper {
  display: flex;
  justify-content: flex-end;
}

main .form .form-small-font {
  font-size: var(--body-font-size-xs);
}


@media only screen and (min-width: 600px) {
  .content-right .form {
    padding-left: 40%;
    padding-right: 10%;
  }
}
