.columns {
 margin-bottom: var(--spacing-default);
}

.columns img {
    width: 100%;
}

.columns > div {
    display: flex;
    flex-direction: column;
}

.columns > div > .columns-img-col img {
    display: block;
}

@media (min-width: 900px) {
    .columns > div {
        display: flex;
        align-items: flex-start;
        flex-direction: unset;
        gap: 120px 50px;
        margin-bottom: 120px;
    }

    .columns > div > div {
        flex: 1;
    }

    .columns > div:last-of-type {
        margin-bottom: 0;
    }

    .columns > div > div:first-of-type {
        margin-left: unset;
    }
}

@media (max-width: 899.98px) {
    .columns > div > div:not(.columns-img-col) {
        order: 0;
    }

    .columns > div > .columns-img-col {
        order: 1;
    }
}
