header .block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: var(--nav-height);
}

header .icon-logo-white svg {
    height: 96px;
    width: auto;
    margin-left: 62px;
}

header nav ul {
    padding-left: 0;
    display: flex;
}

header nav li {
    margin: 32px;
    list-style: none;
    padding: 0;
    color: white;
}

header nav li a:any-link {
    color: white;
    text-underline: none;
}

header nav li:last-of-type a {
    padding: 14px 20px;
    background-color: #626FF0;
}

/* hamburger */
header nav .nav-hamburger {
    grid-area: hamburger;
    height: 22px;
    display: flex;
    align-items: center;
}

header nav .nav-hamburger button {
    height: 22px;
    margin: 32px;
    border: 0;
    border-radius: 0;
    padding: 0;
    color: inherit;
    overflow: initial;
    text-overflow: initial;
    white-space: initial;
}

header nav .nav-hamburger-icon,
header nav .nav-hamburger-icon::before,
header nav .nav-hamburger-icon::after {
    box-sizing: border-box;
    display: block;
    position: relative;
    width: 20px;
}

header nav .nav-hamburger-icon::before,
header nav .nav-hamburger-icon::after {
    content: '';
    position: absolute;
    background: currentcolor;
}

header nav[aria-expanded=false] .nav-hamburger-icon,
header nav[aria-expanded=false] .nav-hamburger-icon::before,
header nav[aria-expanded=false] .nav-hamburger-icon::after {
    height: 2px;
    border-radius: 2px;
    background: currentcolor;
}

header nav[aria-expanded=false] .nav-hamburger-icon::before {
    top: -6px;
}

header nav[aria-expanded=false] .nav-hamburger-icon::after {
    top: 6px;
}

header nav[aria-expanded=true] .nav-hamburger-icon {
    height: 22px;
}

header nav[aria-expanded=true] .nav-hamburger-icon::before,
header nav[aria-expanded=true] .nav-hamburger-icon::after {
    top: 3px;
    left: 1px;
    transform: rotate(45deg);
    transform-origin: 2px 1px;
    width: 24px;
    height: 2px;
    border-radius: 2px;
}

header nav[aria-expanded=true] .nav-hamburger-icon::after {
    top: unset;
    bottom: 3px;
    transform: rotate(-45deg);
}

@media (min-width: 900px) {
    header nav .nav-hamburger {
        display: none;
        visibility: hidden;
    }
}

@media (max-width: 899px){
    header nav ul{
        transition: transform .3s ease-in-out;
        display: flex;
        position: fixed;
        top: var(--nav-height);
        bottom: 0;
        left: 0;
        right: 0;
        transform: translateX(100%);
        background-color: var(--background-color-reverse);
        flex-direction: column;
        margin: 0;
    }

    header nav[aria-expanded=true] ul {
        transform: translateX(0);
    }
}
