header .block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

header .icon-logo-white svg {
    height: 70px;
    margin: 0;
}

header nav ul {
    padding-left: 0;
    display: flex;
    z-index: 1;
}

header nav ul .language-navigation {
    width: fit-content;
    max-height: 10px;
}

header nav ul li .language-navigation-wrapper {
    display: flex;
    flex-direction: column;
    transform: translateY(-15px);
}

header nav ul li .language-navigation-button {
    text-transform: uppercase;
    display: flex;
    padding: 15px 25px;
    min-width: 40px;
    filter: var(--text-drop-shadow);
}

header nav ul li .language-navigation-symbol {
    filter: var(--text-drop-shadow);
    position: relative;
    top: 8px;
    left: 10px;
}

header nav ul .language-navigation-item {
    display: none;
    padding: 15px 25px;
    min-width: 40px;
    filter: var(--text-drop-shadow);
}

header nav ul .language-navigation-wrapper:hover .language-navigation-item{
    display: block;
}

header nav ul .current-language {
    font-weight: bolder;
    pointer-events: none;
}

header nav ul .current-language::before {
    content: '> ';
}

@media (max-width: 899px) {
    header nav ul li .language-navigation-wrapper {
        display: flex;
    }

    header nav ul li .language-navigation-symbol {
        filter: none;
        display: none;
    }

    header nav ul li .language-navigation-item {
        filter: none;
        display: block;
        padding-left: 0;
    }

    header nav ul li .language-navigation-button {
        filter: none;
        display: none;
    }
}

header nav li {
    margin: 0 var(--nav-list-margin);
    list-style: none;
    padding: 0;
    color: var(--text-color);
}

header nav li a:any-link {
    color: var(--text-color);
}

header nav li:nth-last-child(2) a {
    display: inline;
}

/* hamburger */
header nav .nav-hamburger {
    grid-area: hamburger;
    height: 22px;
    display: flex;
    align-items: center;
}

header nav .nav-hamburger button {
    height: 22px;
    margin: 32px;
    border: 0;
    border-radius: 0;
    padding: 0;
    color: inherit;
    overflow: initial;
    text-overflow: initial;
    white-space: initial;
    background: rgb(255 255 255 / 0%);
}

header nav .nav-hamburger-icon,
header nav .nav-hamburger-icon::before,
header nav .nav-hamburger-icon::after {
    box-sizing: border-box;
    display: block;
    position: relative;
    width: 20px;
}

header nav .nav-hamburger-icon::before,
header nav .nav-hamburger-icon::after {
    content: '';
    position: absolute;
    background: currentcolor;
}

header nav[aria-expanded="false"] .nav-hamburger-icon,
header nav[aria-expanded="false"] .nav-hamburger-icon::before,
header nav[aria-expanded="false"] .nav-hamburger-icon::after {
    height: 2px;
    border-radius: 2px;
    background: currentcolor;
}

header nav[aria-expanded="false"] .nav-hamburger-icon::before {
    top: -6px;
}

header nav[aria-expanded="false"] .nav-hamburger-icon::after {
    top: 6px;
}

header nav[aria-expanded="true"] .nav-hamburger-icon {
    height: 22px;
}

header nav[aria-expanded="true"] .nav-hamburger-icon::before,
header nav[aria-expanded="true"] .nav-hamburger-icon::after {
    top: 3px;
    left: 1px;
    transform: rotate(45deg);
    transform-origin: 2px 1px;
    width: 24px;
    height: 2px;
    border-radius: 2px;
}

header nav[aria-expanded="true"] .nav-hamburger-icon::after {
    top: unset;
    bottom: 3px;
    transform: rotate(-45deg);
}

@media (min-width: 900px) {
    header nav .nav-hamburger {
        display: none;
        visibility: hidden;
    }
}

@media (max-width: 899px){
    header nav ul{
        transition: transform .3s ease-in-out;
        display: flex;
        position: fixed;
        top: var(--nav-height);
        bottom: 0;
        left: 0;
        right: 0;
        transform: translateX(100%);
        background-color: var(--background-color-reverse);
        flex-direction: column;
        margin: 0;
    }

    header nav[aria-expanded="true"] ul {
        transform: translateX(0);
    }

    header nav li {
        margin: var(--nav-list-margin);
    }

    header nav li a:any-link {
        color: var(--color-purple);
    }
}
