header{
    padding: 20px;
    position: relative;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

header .block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

header .icon-logo-white svg {
    height: 70px;
    margin: 0;
}

/* navigation */
.nav__list {
    list-style: none;
    display: flex;
    gap: var(--nav-list-margin);
    z-index: 1;
}

.nav__list-item {
    display: flex;
    align-items: center;
}

.nav__list-item a {
    color: var(--text-color);
    padding: 10px 25px;
}

@media (max-width: 899px){
    .nav__list{
        transition: transform .3s ease-in-out;
        display: flex;
        position: fixed;
        top: var(--nav-height);
        bottom: 0;
        left: 0;
        right: 0;
        transform: translateX(100%);
        background-color: var(--background-color-reverse);
        flex-direction: column;
        margin: 0;
        padding: 40px;
    }

    header nav[aria-expanded="true"] ul {
        transform: translateX(0);
    }

    .nav__list-item a {
        color: var(--button-color);;
    }
}

/* hamburger */
header nav .nav-hamburger {
    grid-area: hamburger;
    height: 22px;
    display: flex;
    align-items: center;
}

header nav .nav-hamburger button {
    height: 22px;
    margin: 32px;
    border: 0;
    border-radius: 0;
    padding: 0;
    color: inherit;
    overflow: initial;
    text-overflow: initial;
    white-space: initial;
    background: rgb(255 255 255 / 0%);
}

header nav .nav-hamburger-icon,
header nav .nav-hamburger-icon::before,
header nav .nav-hamburger-icon::after {
    box-sizing: border-box;
    display: block;
    position: relative;
    width: 20px;
}

header nav .nav-hamburger-icon::before,
header nav .nav-hamburger-icon::after {
    content: '';
    position: absolute;
    background: currentcolor;
}

header nav[aria-expanded="false"] .nav-hamburger-icon,
header nav[aria-expanded="false"] .nav-hamburger-icon::before,
header nav[aria-expanded="false"] .nav-hamburger-icon::after {
    height: 2px;
    border-radius: 2px;
    background: currentcolor;
}

header nav[aria-expanded="false"] .nav-hamburger-icon::before {
    top: -6px;
}

header nav[aria-expanded="false"] .nav-hamburger-icon::after {
    top: 6px;
}

header nav[aria-expanded="true"] .nav-hamburger-icon {
    height: 22px;
}

header nav[aria-expanded="true"] .nav-hamburger-icon::before,
header nav[aria-expanded="true"] .nav-hamburger-icon::after {
    top: 3px;
    left: 1px;
    transform: rotate(45deg);
    transform-origin: 2px 1px;
    width: 24px;
    height: 2px;
    border-radius: 2px;
}

header nav[aria-expanded="true"] .nav-hamburger-icon::after {
    top: unset;
    bottom: 3px;
    transform: rotate(-45deg);
}

@media (min-width: 900px) {
    header nav .nav-hamburger {
        display: none;
        visibility: hidden;
    }
}

/* ==================== language navigation */
.language-navigation {
    position: relative;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* button */
.language-navigation-button {
    padding: 15px 25px;
    min-width: 40px;
    display: flex;
    align-items: center;
    gap: 12px;
}

/* selection */
.language-navigation-selection {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    right: 18px;
}

.language-navigation:hover .language-navigation-selection{
    display: flex;
}

.language-navigation-separator {
    display: none;
    opacity: 0.8;
    color: var(--text-color);
}

.language-navigation-item {
    min-width: 40px;
    padding: 15px 25px;
    text-align: center;
    opacity: 0.8;
}

.language-navigation-item:any-link {
    color: var(--text-color);
}

.current-language {
    display: none;
}

@media (max-width: 899px) {
    .language-navigation {
        height: fit-content;
    }

    /* selection */
    .language-navigation-selection {
        display: flex;
        flex-direction: row;
        left: 0;
    }

    .language-navigation-separator,
    .language-navigation-item:any-link {
        color: var(--button-color);;
    }

    .language-navigation-separator {
        margin: 5px;
        align-items: center;
        display: flex;
    }

    .current-language {
        display: block;
        font-weight: bolder;
        pointer-events: none;
        opacity: 1;
    }

    /* button */
    .language-navigation-button {
        display: none;
    }
}
