.static-scroll-columns {
    display: flex;
    position: relative;
    flex-direction: column;
    height: var(--height-static-scroll-columns);
}

.static-scroll-column {
    position: sticky;
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
}

.static-scroll-column-left {
    top: 0;
    margin-bottom: 50vh;
}

.static-scroll-column-left picture {
    transform: translateY(-50%);
}

.static-scroll-column-right {
    top: 0;
    height: 100vh;
    margin-top: -100vh;
}

.static-scroll-column-right h3 {
    transform: translateY(25vh);
}

.static-scroll-columns picture {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    opacity: 0;
    transition: opacity .1s .4s;
}

.static-scroll-columns picture.active {
    opacity: 1;
    z-index: 1;
    transition: opacity .5s;
}

.static-scroll-columns img {
    display: block;
    position: relative;
    left: 50%;
    max-width: calc(50vh - 15px);
    aspect-ratio: 1/1;
    transform: translateX(-50%);
}

.static-scroll-columns h3 {
    font-weight: 700;
    margin-bottom: 0;
    opacity: 0.3;
    transition: opacity .5s ease-in-out;
}

.static-scroll-columns h3.active {
    opacity: 1;
}

.static-scroll-columns-progress {
    position: absolute;
    top: 0;
    left: 0;
    height: var(--height-static-scroll-columns);
    width: 1px;
}

.static-scroll-columns-progress-section {
    height: var(--height-static-scroll-columns-progress-section);
}

.static-scroll-columns-progress-section:first-child,
.static-scroll-columns-progress-section:last-child {
    height: calc(var(--height-static-scroll-columns-progress-section) * 2);
}

@media screen and (min-width: 700px) {
    .static-scroll-columns {
        flex-direction: row;
    }

    .static-scroll-column {
        position: sticky;
        top: 0;
        width: 50%;
        height: 100vh;
        margin: 0;
    }

    .static-scroll-column-right h3 {
        transform: translateY(0);
    }

    .static-scroll-columns picture {
        transform: translateY(-50%);
    }

    .static-scroll-columns img {
        max-width: 100%;
    }

    .static-scroll-column-texts.static-scroll-column-left {
        padding-right: 40px;
    }

    .static-scroll-column-texts.static-scroll-column-right {
        padding-left: 40px;
    }
}
