.quotes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 54px;
}

.quotes > div {
    box-sizing: border-box;
    position: relative;
    width: 381px;
    max-width: 100%;
    aspect-ratio: 1/1;
    border-radius: 500px;
    background: linear-gradient(135deg, #CE2726 28.77%, #F5760D 75.11%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 65px;
}

.quotes > div::before {
    font-family: Arial, serif;
    content: 'â€';
    -webkit-text-fill-color: rgb(255 255 255 / 0%);
    -webkit-text-stroke: 1px var(--text-color);
    font-size: 100px;
}

.quotes > div > div {
    text-align: center;
    font-size: 22px;
    font-weight: 800;
    line-height: 28px;
}

.quotes > div:nth-child(3n+1) {
    background: linear-gradient(135deg, #FF8C05 11.53%, #CE2726 42.04%, #1C0A4D 75.11%);
}

.quotes > div:nth-child(3n+3) {
    background: linear-gradient(-45deg, #FF8C05 11.53%, #CE2726 42.04%, #1C0A4D 75.11%);
}

.quotes > div > div:last-child {
    padding-top: 30px;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

@media (max-width: 899px) {
    .quotes > div {
        padding: 50px;
    }
}

@media (max-width: 425px) {
    .quotes > div {
        padding: 30px;
    }

    .quotes > div > div {
        font-size: 15px;
        line-height: 20px;
    }

    .quotes > div > div:last-child {
        padding-top: 15px;
        font-size: 10px;
        font-weight: normal;
        line-height: 15px;
    }
}

@media (max-width: 340px) {
    .quotes > div > div {
        font-size: 12px;
        line-height: 12px;
    }

    .quotes > div > div:last-child {
        padding-top: 10px;
        font-size: 8px;
        font-weight: normal;
        line-height: 10px;
    }
}
