footer {
  height: var(--footer-height);
  padding: var(--footer-padding-horizontal) var(--footer-padding-vertical);
  background-color: var(--footer-background-color);
  color: var(--footer-color);
  font-size: var(--body-font-size-xs);
}

footer .block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

footer > div > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
}

footer > div > div > p {
  margin: 2px;
}

footer > div > div:first-child .icon svg {
  height: 75px;
}

footer > div > div:last-child {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

footer > div > div:last-child .icon svg {
  height: 20px;
  width: 20px;
  fill: currentcolor;
  padding: 20px;
}

/*
footer .footer {
  max-width: 1200px;
  margin: auto;
}

footer .footer > div {
  display: flex;
}

footer .footer > div > div {
  width: 50%;
}

footer .footer a {
  color: currentcolor;
}

footer .footer p {
  margin: 10px 0;
}

footer .footer > div > div:nth-child(2) {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
}

footer .footer > div > div:nth-child(2) > p:nth-child(1) {
  padding-right: 20px;
}

footer .footer > div > div:nth-child(2) .icon svg {
  height: 20px;
  width: 20px;
  fill: currentcolor;
}
*/