a:any-link {
    color: var(--link-color);
    text-decoration: none;
}

a:any-link img {
    padding-left: 10px;
    height: var(--body-font-size-xs);
    width: var(--body-font-size-xs);
}

a:hover {
    text-decoration: underline;
    color: var(--link-hover-color);
}
